body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

.link {
text-decoration: none;
color: var(--black-color);
}

.link:hover,
.link:focus {
    color: var(--accent-color)
}

.list {
    list-style-type: none;
}


:root {
    --primary-text-color: #212121; 
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --background-color: #FFFFFF;
    --background-color-footer: #2F303A;;
    --backround-color-section: #F5F5F5;
    --background-color-team: #F5F4FA;;
--black-color: #000000
}





/* background: #EEEEEE;
background: #000000;
background: #FFFFFF99;
background: #2F303A;
background: #ECECEC; */


.logo-link {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: calc( 31 / 26);
        color: var(--black-color);
        /* identical to box height */
        letter-spacing: 0.03em;
}

/* Header */

.header {
    background-color: var(--background-color);
}

.web-logo {
    color: var(--accent-color)
}

.header-nav-item {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: calc( 16 / 14);
        letter-spacing: 0.02em;
        color: var(--black-color);
}




  .header-nav .link.current {
    color: var(--accent-color)
  }

/* POST, TELEPHONE */

.header-post-link {

}

.list-adress .link.current {
    color: var(--accent-color)
}

.list-adress .link {
    font-weight: 500;
        font-size: 14px;
        line-height: calc( 16 / 14);
        letter-spacing: 0.02em;
        color: var(--title-text-color)

    }
       
    .list-adress .link:hover,
    .list-adress .link:focus {
       color: var(--accent-color)
        }

/* ГОЛОВНИЙ СЛАЙД */
.main {
    background-color: var(--backround-color-section);
}

.main-section {
    background-color: var(--background-color-footer);
}

.main-title {
font-weight: 900;
font-size: 44px;
line-height: calc(60 / 44);
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--backgroud-color)
}

.main-section .btn {
font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--backgroud-color);
    cursor:pointer;
    font-family: inherit;
}

/* OCОБЛИВОСТІ */
/* .section-advantages {
    background-color: var(--backround-color-section);
} */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list-title {
font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.advantages-list-text {
    font-weight: 400;
        line-height: calc(24 / 14);
     color: var(--title-text-color)
}

/* WORK */
/* .section-work {
    background-color: var(--backround-color-section);
} */
.work-title {
    font-weight: 700;
        font-size: 36px;
        line-height: calc( 42 / 36 );
        text-align: center;
        color: var(--primary-text-color);
}

/* TEAM */
.section-team {
 background-color: var(--background-color-team);
}

.team-title {
    font-weight: 500;
        font-size: 16px;
        line-height: calc(19 / 16);
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
}

.team-text {
        font-size: 16px;
        line-height: calc(19 / 16);
        /* identical to box height */
    
        text-align: center;
        color: var(--title-text-color);
}

/* FOOTER */

.footer {
    background-color: var(--background-color-footer);
}

.adress {
    font-style: normal;
}

.footer-adress {
    font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
        color: var(--background-color);

}
.footer-link {
    font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6)
}

/* PORTFOLIO */

/* MAIN */
.section-info {
    background-color: var(--backround-color-section);
}


.info-button {
    font-weight: 500;
        font-size: 16px;
        line-height: calc(26 / 16);
        /* identical to box height, or 162% */
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        background-color: var(--background-color-team);
        cursor: pointer;
        font-family: inherit;
}

.info-button:hover,
.info-button:focus {
    color: var(--backgroud-color);
    background-color: var(--accent-color);
}

.info-list .info-button.current {
    color: var(--backgroud-color);
        background-color: var(--accent-color)
}

/* EXAMPLES */

.section-examples {
    background-color: var(--background-color);
}

.examples-title-list {
    font-weight: 700;
        font-size: 18px;
        line-height: calc(36 / 18);
        /* identical to box height, or 200% */
    
        letter-spacing: 0.06em;
        color: var(--primary-text-color);
}

.examples-text {
        font-size: 16px;
        line-height: calc(30 / 16);
        /* identical to box height, or 188% */
        color: var(--title-text-color);
}

.examples-li {
    border-color: rgba(238, 238, 238, 1);
}
